@media (max-width:1100px) {
	.logo img {
		width: 250px !important;
	}
}

@media (max-width:910px) {

}

@media (max-width:768px) {
	.logo img {
		display: none !important;
	}
}

@media (max-width:480px){

}

/* General */

body {
	margin: 0;
	padding: 0;
}

#exchanges .panel-body {
	min-height: 100px !important;
}

.panel-head {
	min-height: 75px;
}

.panel-body {
	min-height: 150px;
}

#wallets .panel-body{
	background: #1D2326;
}

#community img {
	z-index: -1;
	width: 65px;
	height: auto;
}

.logo img {
	width: 432px;
	height: auto;
}

.top-menu-holder li {
	white-space: nowrap !important;
}